* {
  font-family: "Encode Sans Expanded", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  padding: 5px;
}
nav {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Navbar {
  background-color: #006600;
  font-size: larger;
  padding: 5px;
  color: white;
}

.nav-list {
  padding: 5px;
}

fieldset {
  border: none;
}

.add-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-post-form {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 60%;
  padding: 15px;
  align-self: center;
  margin-bottom: 5px;
  background-color: rgb(179, 173, 173);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-campaign {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-campaign div {
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
}

.create-campaign form {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  width: 60%;
  padding: 30px;
  align-self: center;
}

.create-character {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-character div {
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
}

.create-character form {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  width: 60%;
  padding: 30px;
  align-self: center;
}

.signup-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup-page div {
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
}

.signup-page form {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  width: 60%;
  padding: 30px;
  align-self: center;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  width: 60%;
  padding: 20px;
  align-self: center;
}

.defaultlogin {
  background-color: rgb(198, 194, 194);
  font-size: small;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  width: 60%;
  padding: 20px;
  align-self: center;
}

.add-post-form {
  background: lightgray;
}

.campaign-log-combined li {
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.campaign-log-combined {
}

.public-log {
  justify-content: center;
  display: flex;
  align-items: center;
}

.private-log {
  justify-content: center;
  display: flex;
  align-items: center;
}

button {
  background-color: green;
  color: white;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button :active {
  background-color: black;
  color: white;
}
